{% extends "base.html" %} {% block title %} Caparol Center SPB {% endblock title %} {% block content %}
<section class="section-first">
    <div class="container container-first">
        <div class="section-first__content">
            <h1>Caparol Center SPB</h1>
            <p>Место, где делаются шедевры декоративной мысли. Здесь дизайнер со своим клиентом в непринужденной обстановке могут обсудить проект и протестировать в реальном времени.</p>
            <button class="btn bth_show-room"><a href="#">Шоу-Рум</a></button>
        </div>
    </div>
</section>
<section class="section-second">
    <div class="container container-second">
        <div class="section-second__content">
            <div class="section-second__info">
                <h2>О шоу-руме</h2>
                <p>Мы официальный дистрибьютер немецкого бренда caparol, являющегося наиболее известным, востребованным и авторитетным брендом в своей отрасли. Наш ассортимент включает в себя несколько товарных линеек и множество товаров.</p>
            </div>
            <div class="section-second__gallery">
                <img src="/static/img/Showroom_1.jpg" alt="" class="section-second__images">
                <img src="/static/img/Showroom_2.jpg" alt="" class="section-second__images">
                <img src="/static/img/Showroom_3.jpg" alt="" class="section-second__images">
            </div>
        </div>
    </div>
</section>
<section class="section-third">
    <div class="container container-third">
        <div class="section-third__content">
            <h2>Почему мы?</h2>
            <div class="section-third__block">
                <div class="section-third__items">
                    <img src="" alt="Аналитика">
                    <h3>Аналитика</h3>
                    <p>Мы можем оценить возможности проекта, экономический статус и подобрать для вас уникальное предложение</p>
                </div>
                <div class="section-third__items">
                    <img src="" alt="Встреча с клиентами">
                    <h3>Встреча с клиентами</h3>
                    <p>Мы готовы предоставить вам место для встреч с вашим клиентом.</p>
                </div>
                <div class="section-third__items">
                    <img src="" alt="Консультация">
                    <h3>Консультация</h3>
                    <p>Мы готовы с радостью оказать консультацию, а так-же провести мастер-класс</p>
                </div>
                <div class="section-third__items">
                    <img src="" alt="Знакомый бренд">
                    <h3>Знакомый бренд</h3>
                    <p>Мы являемся официальным дистрибьютером компании DAW SE, поставлющую продукцию caparol в РФ</p>
                </div>
            </div>
        </div>
</section>
{% endblock content %}