<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="lol">
            <ul>
                <li class="four">Sosi bibu</li>
                <li class="four">Sosi bibu</li>
                <li class="four">Sosi bibu</li>
                <li class="four">Sosi bibu</li>
            </ul>
        </div>
        <div class="lol">
            <ul>
                <li class="four">Sosi bibu</li>
                <li class="four">Sosi bibu</li>
                <li class="four">Sosi bibu</li>
                <li class="four">Sosi bibu</li>
            </ul>
        </div>
        <div class="lol">
            <ul>
                <li class="four">Sosi bibu</li>
                <li class="four">Sosi bibu</li>
                <li class="four">Sosi bibu</li>
                <li class="four">Sosi bibu</li>
            </ul>
        </div>
    </main>
</body>

</html>