{% extends "base.html" %} {% block title %} Caparol Center SPB {% endblock title %} {% block content %}
<section class="section-first">
    <div class="container container-first">
        <div class="section-first__content">
            <h1>Caparol Center SPB</h1>
            <p>Место, где делаются шедевры декоративной мысли. Здесь дизайнер со своим клиентом в непринужденной обстановке могут обсудить проект и протестировать в реальном времени.</p>
            <a href="#" class="btn">Шоу-Рум</a>
        </div>
    </div>
</section>
<section class="section-second">
    <div class="container container-second">
        <div class="section-second__content">
            <div class="section-second__info">
                <h2>О шоу-руме</h2>
                <p>Мы официальный дистрибьютер немецкого бренда caparol, являющегося наиболее известным, востребованным и авторитетным брендом в своей отрасли. Наш ассортимент включает в себя несколько товарных линеек и множество товаров.</p>
            </div>
            <div class="section-second__gallery">
                <img src="/static/img/Showroom_1.jpg" alt="" class="section-second__images">
                <img src="/static/img/Showroom_2.jpg" alt="" class="section-second__images">
                <img src="/static/img/Showroom_3.jpg" alt="" class="section-second__images">
            </div>
        </div>
    </div>
</section>
<section class="section-third">
    <div class="container container-third">
        <div class="section-third__left-side">
            <div class="container-third__block">
                <div class="block__left-side">
                    <img src="/static/img/Block-client.png" alt="">
                </div>
                <div class="block__rigth-side">
                    <h3>
                        Клиенту
                    </h3>
                    <p>Enim justo facilisi justo magnis dolor curabitur. Ornare diam dictumst amet mauris. Mollis nisi, eget dignissim sollicitudin.</p>
                </div>
            </div>
        </div>
        <div class="section-third__right-side">
            <div class="container-third__block">
                <div class="block__top-side">
                    <h3>Дизайнеру</h3>
                    <img src="/static/img/Block-designer.png" alt="">
                </div>
                <div class="block__bottom-side">
                    <p>Ornare diam dictumst amet mauris. Mollis nisi, eget dignissim sollicitudin.</p>
                </div>
            </div>
            <div class="container-third__block">
                <div class="block__top-side">
                    <h3>Архитектору</h3>
                    <img src="/static/img/Block-architecher.png" alt="">
                </div>
                <div class="block__bottom-side">
                    <p>Ornare diam dictumst amet mauris. Mollis nisi, eget dignissim sollicitudin.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-fourth">
    <div class="container container-fourth">
        <div class="section-fourth__content">
            <h2>Почему мы?</h2>
            <div class="section-fourth__block">
                <div class="section-fourth__items">
                    <div class="items__top">
                        <img src="/static/img/Card_1.svg" alt="Аналитика">
                        <h3>Аналитика</h3>
                    </div>
                    <p>Мы можем оценить возможности проекта, экономический статус и подобрать для вас уникальное предложение.</p>
                </div>
                <div class="section-fourth__items">
                    <div class="items__top">
                        <img src="static/img/Card_2.svg" alt="Встреча с клиентами">
                        <h3>Встреча с клиентами</h3>
                    </div>
                    <p>Мы готовы предоставить вам место для встреч с вашим клиентом.</p>
                </div>
                <div class="section-fourth__items">
                    <div class="items__top">
                        <img src="static/img/Card_3.svg" alt="Консультация">
                        <h3>Консультация</h3>
                    </div>
                    <p>Мы готовы с радостью оказать консультацию, а так-же провести мастер-класс.</p>
                </div>
                <div class="section-fourth__items">
                    <div class="items__top">
                        <img src="static/img/Card_4.svg" alt="Знакомый бренд">
                        <h3>Знакомый бренд</h3>
                    </div>
                    <p>Мы являемся официальным дистрибьютером компании DAW SE, поставлющую продукцию caparol в РФ.</p>
                </div>
            </div>
        </div>
</section>
<section class="section-fifth">
    <div class="containter container-fifth">
        <div class="slider">
            <div class="slide slide-1" active>
                <div class="side-left">
                    <img src="/static/img/Slider_img.jpg" alt="" class="img-slider">
                    <div class="colors"></div>
                </div>
                <div class="side-right">
                    <h3>Ameloft</h3>
                    <ul class="list">
                        <li class="list__item">
                            <img src="/static/img/Slider-check.png" alt="">
                            <p>afafsfgs</p>
                        </li>
                        <li class="list__item">
                            <img src="/static/img/Slider-check.png" alt="">
                            <p>fsgsgf</p>
                        </li>
                        <li class="list__item">
                            <img src="/static/img/Slider-check.png" alt="">
                            <p>hghfhh</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="slide slide-2">
                <div class="side-left">
                    <img src="/static/img/Slider_img.jpg" alt="" class="img-slider">
                    <div class="colors"></div>
                </div>
                <div class="side-right">
                    <h3>Ameloft</h3>
                    <ul class="list">
                        <li class="list__item">
                            <img src="/static/img/Slider-check.png" alt="">
                            <p>afafsfgs</p>
                        </li>
                        <li class="list__item">
                            <img src="/static/img/Slider-check.png" alt="">
                            <p>fsgsgf</p>
                        </li>
                        <li class="list__item">
                            <img src="/static/img/Slider-check.png" alt="">
                            <p>hghfhh</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="slide slide-3">
                <div class="side-left">
                    <img src="/static/img/Slider_img.jpg" alt="" class="img-slider">
                    <div class="colors"></div>
                </div>
                <div class="side-right">
                    <h3>Ameloft</h3>
                    <ul class="list">
                        <li class="list__item">
                            <img src="/static/img/Slider-check.png" alt="">
                            <p>afafsfgs</p>
                        </li>
                        <li class="list__item">
                            <img src="/static/img/Slider-check.png" alt="">
                            <p>fsgsgf</p>
                        </li>
                        <li class="list__item">
                            <img src="/static/img/Slider-check.png" alt="">
                            <p>hghfhh</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="slider-arrows">
            <img src="/static/img/Arrow-left.png" alt="" class="arrow" id="arrow_left">
            <img src="/static/img/Arrow-right.png" alt="" class="arrow" id="arrow_right">
        </div>
    </div>
</section>
<section class="section-form">
    <div class="container container-form">
        <div class="left-side">
            <h3>Что выбрать</h3>
            <p>Напишите нам и мы поможет подобрать необходимые материалы.</p>
        </div>
        <form action="" class="main-form">
            <input type="email" placeholder="Ваш email" class="field field-input">
            <input type="name" placeholder="Ваше имя и отчество" class="field field-input">
            <textarea name="text" id="" cols="30" rows="10" placeholder="Ваш вопрос" class="field field-textarea"></textarea>
            <button type='submit' class="field form-btn">Отправить</button>
        </form>
    </div>
</section>


<script src="/static/js/main.js"></script>
{% endblock content %}