{% extends "base.html" %} {% block title %} Caparol Center SPB {% endblock title %} {% block content %}
<section class="section-first">
    <div class="container container-first">
        <div class="section-first__content">
            <h1>Caparol Center SPB</h1>
            <p>Место, где делаются шедевры декоративной мысли. Здесь дизайнер со своим клиентом в непринужденной обстановке могут обсудить проект и протестировать в реальном времени.</p>
            <button class="btn bth_show-room">Шоу-Рум</button>
        </div>
    </div>
</section>
{% endblock content %}