{% extends "base.html" %} {% block title %} Caparol Center SPB {% endblock title %} {% block content %}
<div class="container container-decision">
    <h1>Готовые решения</h1>
    <div class="decision-top">
        <h2>Шаг 1 <span>Выберите защиту фасада</span></h2>
        <div class="decision-images">
            <div class="card">
                <img src="/static/img/Decision-card_1.jpg" alt="">
                <p>Вероятно, лучшая теплоизоляция фасадов в мире!</p>
            </div>
            <div class="card">
                <img src="/static/img/Decision-card_2.jpg" alt="">
                <p>Capatect LONGLIFE</p>
            </div>
            <div class="card">
                <img src="/static/img/Decision-card_3.jpg" alt="">
                <p>Лучшая система в сегменте «Стандарт»</p>
            </div>
        </div>
    </div>
    <div class="decision-middle">
        <h2>Шаг 2 <span>Доступные для него покрытия</span></h2>
        <div class="decision-images">
            <img src="/static/img/Desicion_1.jpg" alt="">
            <img src="/static/img/Desicion_2.jpg" alt="">
            <img src="/static/img/Desicion_3.jpg" alt="">
            <img src="/static/img/Desicion_4.jpg" alt="">
        </div>
    </div>
    <div class="decision-bottom">
        <div class="left-side">
            <img src="/static/img/Desicion_1.jpg" alt="">
            <div class="colors"></div>
        </div>
        <div class="right-side">
            <h3>Zima Blue</h3>
            <div class="description">

            </div>
            <div class="extra-info">
                <button class="btn btn_extra-info"></button>
                <p class="extra-info__price"></p>
            </div>

        </div>
    </div>
</div>
{% endblock content %}